In [1]:
# Importacion de librerias y de visualizacion (matplotlib y seaborn)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

%matplotlib inline

plt.style.use('default') # para graficos matplotlib
plt.rcParams['figure.figsize'] = (10, 8)

sns.set(style="whitegrid") # grid seaborn

pd.options.display.float_format = '{:20,.0f}'.format # notacion output

# Acceso a set de datos

In [16]:
path = "data/"
df_props_full = pd.read_csv(path + "train.csv")
df_test = pd.read_csv(path + "test.csv")

In [17]:
df_props_full.columns

Index(['id', 'titulo', 'descripcion', 'tipodepropiedad', 'direccion', 'ciudad',
       'provincia', 'antiguedad', 'habitaciones', 'garages', 'banos',
       'metroscubiertos', 'metrostotales', 'idzona', 'lat', 'lng', 'fecha',
       'gimnasio', 'usosmultiples', 'piscina', 'escuelascercanas',
       'centroscomercialescercanos', 'precio'],
      dtype='object')

In [18]:
df_test.columns

Index(['id', 'titulo', 'descripcion', 'tipodepropiedad', 'direccion', 'ciudad',
       'provincia', 'antiguedad', 'habitaciones', 'garages', 'banos',
       'metroscubiertos', 'metrostotales', 'idzona', 'lat', 'lng', 'fecha',
       'gimnasio', 'usosmultiples', 'piscina', 'escuelascercanas',
       'centroscomercialescercanos'],
      dtype='object')

In [19]:
df_test.id.sort_values()

8801          0
44294         6
49829        11
44914        12
1308         16
          ...
43359    299957
22122    299962
11225    299973
6151     299983
53128    299992
Name: id, Length: 60000, dtype: int64

In [20]:
df_props_full.id.sort_values()

73868          1
191491         2
126184         3
23027          4
228358         5
           ...
218493    299995
153978    299996
43069     299997
137560    299998
27616     299999
Name: id, Length: 240000, dtype: int64

# Conversión de tipos

In [21]:
df_props_full['fecha'] = pd.to_datetime(df_props_full['fecha'])

In [22]:
# Convierto todos los valores 1/0 a uint8
df_props_full['gimnasio'] = df_props_full['gimnasio'].astype('uint8')
df_props_full['usosmultiples'] = df_props_full['usosmultiples'].astype('uint8')
df_props_full['piscina'] = df_props_full['piscina'].astype('uint8')
df_props_full['escuelascercanas'] = df_props_full['escuelascercanas'].astype('uint8')
df_props_full['centroscomercialescercanos'] = df_props_full['centroscomercialescercanos'].astype('uint8')

In [23]:
# Convierto los representables en uint8. Utilizo el tipo de pandas UInt8Dtype para evitar conflicto con NaN
df_props_full['antiguedad'] = df_props_full['antiguedad'].astype(pd.UInt8Dtype())
df_props_full['habitaciones'] = df_props_full['habitaciones'].astype(pd.UInt8Dtype())
df_props_full['garages'] = df_props_full['garages'].astype(pd.UInt8Dtype())
df_props_full['banos'] = df_props_full['banos'].astype(pd.UInt8Dtype())

In [24]:
# Convierto los representables en uint16. Utilizo el tipo de pandas UInt16Dtype para evitar conflicto con NaN
df_props_full['metroscubiertos'] = df_props_full['metroscubiertos'].astype(pd.UInt16Dtype())
df_props_full['metrostotales'] = df_props_full['metrostotales'].astype(pd.UInt16Dtype())

In [25]:
# Convierto los representables en uint32. Utilizo el tipo de pandas UInt32Dtype para evitar conflicto con NaN
df_props_full['id'] = df_props_full['id'].astype(pd.UInt32Dtype())
df_props_full['idzona'] = df_props_full['idzona'].astype(pd.UInt32Dtype())
# df_props_full['Precio_MEX'] = df_props_full['Precio_MEX'].astype(pd.UInt32Dtype())
# df_props_full['Precio_USD'] = df_props_full['Precio_USD'].astype(pd.UInt32Dtype())
df_props_full['precio'] = df_props_full['precio'].astype(pd.UInt32Dtype())

# Habitaciones

Basado en información obtenida del TP1 elimino habitaciones con valores nulos

In [154]:
df_props_full.habitaciones.isna().value_counts()

False    217529
True      22471
Name: habitaciones, dtype: int64

In [155]:
df_props_full.habitaciones.value_counts()

3     121887
2      57808
4      25068
1       5069
5       4596
6       1669
7        539
8        398
10       316
9        179
Name: habitaciones, dtype: int64

In [156]:
features = df_props_full
len(features)

240000

In [157]:
pd.pivot_table(df_props_full.groupby(['tipodepropiedad','habitaciones']).size().to_frame(), index='tipodepropiedad',columns=['habitaciones'])

                                                 0                       \
habitaciones                                    1                    2
tipodepropiedad
Apartamento                                  2,841               30,040
Bodega comercial                                47                   42
Casa                                         1,549               23,789
Casa en condominio                             186                3,004
Casa uso de suelo                               12                   53
Departamento Compartido                          8                   61
Duplex                                           8                  194
Edificio                                        11                   35
Hospedaje                                      nan                  nan
Huerta                                         nan                    5
Inmuebles productivos urbanos                    8                   10
Local Comercial                                103                   86
Local en centro comercial                       12                    8
Nave industrial                                  1                    5
Oficina comercial                               56                   39
Otros                                            6                   31
Quinta Vacacional                               40                  130
Rancho                                          22                   34
Terreno                                        111                  127
Terreno comercial                               17                   13
Terreno industrial                               1                  nan
Villa                                           30                   96

                                                                         \
habitaciones                                    3                    4
tipodepropiedad
Apartamento                                 22,566                  780
Bodega comercial                                30                   18
Casa                                        84,651               21,714
Casa en condominio                          13,608                2,095
Casa uso de suelo                              150                  133
Departamento Compartido                         62                    2
Duplex                                         109                   13
Edificio                                        36                   21
Hospedaje                                      nan                  nan
Huerta                                           1                    1
Inmuebles productivos urbanos                   17                   13
Local Comercial                                 69                   50
Local en centro comercial                      nan                  nan
Nave industrial                                  3                    3
Oficina comercial                               66                   53
Otros                                           30                    2
Quinta Vacacional                              121                   49
Rancho                                          56                   15
Terreno                                        138                   58
Terreno comercial                               22                   11
Terreno industrial                             nan                    1
Villa                                          134                   33

                                                                         \
habitaciones                                    5                    6
tipodepropiedad
Apartamento                                     64                   23
Bodega comercial                                10                    5
Casa                                         4,179                1,458
Casa en condominio                             143                   29
Casa uso de suelo                               48                   34
Departamento Compartido                        nan                    2
Duplex                                           9                    6
Edificio                                        22                   45
Hospedaje                                      nan                  nan
Huerta                                         nan                  nan
Inmuebles productivos urbanos                    6                    4
Local Comercial                                 22                   12
Local en centro comercial                        2                  nan
Nave industrial                                  1                  nan
Oficina comercial                               35                   29
Otros                                          nan                  nan
Quinta Vacacional                               12                    6
Rancho                                           9                    3
Terreno                                         23                    8
Terreno comercial                                6                    2
Terreno industrial                             nan                  nan
Villa                                            4                    3

                                                                         \
habitaciones                                    7                    8
tipodepropiedad
Apartamento                                      6                   13
Bodega comercial                                 1                    3
Casa                                           458                  298
Casa en condominio                               5                    6
Casa uso de suelo                               24                   16
Departamento Compartido                        nan                  nan
Duplex                                         nan                    1
Edificio                                        18                   28
Hospedaje                                        1                  nan
Huerta                                         nan                  nan
Inmuebles productivos urbanos                    1                    4
Local Comercial                                  5                    7
Local en centro comercial                      nan                  nan
Nave industrial                                nan                  nan
Oficina comercial                               13                   13
Otros                                          nan                  nan
Quinta Vacacional                                2                    1
Rancho                                           1                    2
Terreno                                          4                    3
Terreno comercial                              nan                  nan
Terreno industrial                             nan                  nan
Villa                                          nan                    3


habitaciones                                    9                    10
tipodepropiedad
Apartamento                                      9                    5
Bodega comercial                                 1                  nan
Casa                                           120                  163
Casa en condominio                               2                    4
Casa uso de suelo                                9                   23
Departamento Compartido                        nan                    2
Duplex                                         nan                  nan
Edificio                                        16                   71
Hospedaje                                      nan                  nan
Huerta                                         nan                  nan
Inmuebles productivos urbanos                    6                   14
Local Comercial                                  7                   14
Local en centro comercial                      nan                  nan
Nave industrial                                nan                  nan
Oficina comercial                                6                   14
Otros                                          nan                  nan
Quinta Vacacional                                1                  nan
Rancho                                         nan                  nan
Terreno                                          1                    5
Terreno comercial                              nan                    1
Terreno industrial                               1                  nan
Villa                                          nan                  nan

In [158]:
features = features.dropna(subset=['habitaciones'])
print(type(features))
len(features)

<class 'pandas.core.frame.DataFrame'>

217529

# Baños

Basado en información obtenida del TP1 elimino baños con valores nulos

In [159]:
df_props_full.banos.isna().value_counts()

False    213779
True      26221
Name: banos, dtype: int64

In [160]:
features.banos.isna().value_counts()

False    209165
True       8364
Name: banos, dtype: int64

In [161]:
features.banos.value_counts()

2    86141
1    56519
3    48503
4    18002
Name: banos, dtype: int64

In [162]:
pd.pivot_table(df_props_full.groupby(['tipodepropiedad','banos']).size().to_frame(), index='tipodepropiedad',columns=['banos'])

                                                 0                       \
banos                                            1                    2
tipodepropiedad
Apartamento                                 21,144               25,417
Bodega comercial                               324                  268
Casa                                        31,425               52,646
Casa en condominio                           3,160                7,514
Casa uso de suelo                               93                  230
Departamento Compartido                         57                   52
Duplex                                         245                   73
Edificio                                        76                   89
Huerta                                           5                    2
Inmuebles productivos urbanos                   12                   30
Local Comercial                                624                  438
Local en centro comercial                       28                    7
Nave industrial                                 12                   17
Oficina comercial                              385                  331
Otros                                           22                   30
Quinta Vacacional                               69                  142
Rancho                                          55                   54
Terreno                                        270                  169
Terreno comercial                               80                   58
Terreno industrial                               4                    4
Villa                                           78                  108


banos                                            3                    4
tipodepropiedad
Apartamento                                  8,001                1,442
Bodega comercial                                98                   56
Casa                                        34,646               14,391
Casa en condominio                           5,710                2,110
Casa uso de suelo                              140                   88
Departamento Compartido                         21                    4
Duplex                                          11                    9
Edificio                                        98                  104
Huerta                                         nan                    1
Inmuebles productivos urbanos                   20                   10
Local Comercial                                140                  116
Local en centro comercial                        1                    7
Nave industrial                                  9                    6
Oficina comercial                              169                   96
Otros                                           16                    3
Quinta Vacacional                               89                   41
Rancho                                          20                    8
Terreno                                         59                   25
Terreno comercial                               25                   11
Terreno industrial                               1                  nan
Villa                                           85                   29

In [163]:
features = features.dropna(subset=['banos'])
print(type(features))
len(features)

<class 'pandas.core.frame.DataFrame'>

209165

# Garages

In [164]:
df_props_full.garages.isna().value_counts()

False    202235
True      37765
Name: garages, dtype: int64

In [165]:
features.garages.isna().value_counts()

False    180644
True      28521
Name: garages, dtype: int64

In [166]:
features.garages.value_counts()

2    90378
1    57970
3    19630
0    12666
Name: garages, dtype: int64

In [167]:
pd.pivot_table(df_props_full.groupby(['tipodepropiedad','garages']).size().to_frame(), index='tipodepropiedad',columns=['garages'])

                                                 0                       \
garages                                          0                    1
tipodepropiedad
Apartamento                                  5,384               24,034
Bodega comercial                               659                   79
Casa                                         9,439               30,943
Casa en condominio                             455                3,219
Casa uso de suelo                              128                  108
Departamento Compartido                         20                   53
Duplex                                          29                  228
Edificio                                       568                   85
Garage                                           1                  nan
Hospedaje                                        1                  nan
Huerta                                          15                  nan
Inmuebles productivos urbanos                  111                   13
Local Comercial                              1,283                  204
Local en centro comercial                       93                   13
Lote                                             1                  nan
Nave industrial                                 35                    3
Oficina comercial                              500                  328
Otros                                            4                   16
Quinta Vacacional                               88                   10
Rancho                                          53                    8
Terreno                                      7,364                   55
Terreno comercial                              676                    8
Terreno industrial                               3                  nan
Villa                                           14                   53


garages                                          2                    3
tipodepropiedad
Apartamento                                 20,999                3,188
Bodega comercial                                81                   62
Casa                                        62,182               15,192
Casa en condominio                           9,732                2,654
Casa uso de suelo                              136                   96
Departamento Compartido                         53                   11
Duplex                                          68                   11
Edificio                                       112                  108
Garage                                         nan                  nan
Hospedaje                                      nan                  nan
Huerta                                         nan                  nan
Inmuebles productivos urbanos                   19                    7
Local Comercial                                245                  102
Local en centro comercial                        9                    5
Lote                                           nan                  nan
Nave industrial                                  9                    9
Oficina comercial                              258                  116
Otros                                           25                    7
Quinta Vacacional                               31                   27
Rancho                                           7                    7
Terreno                                         80                   43
Terreno comercial                               17                   12
Terreno industrial                               1                    1
Villa                                           96                   18

In [168]:
pd.pivot_table(df_props_full.groupby(['tipodepropiedad','garages']).size().to_frame(), index='tipodepropiedad',columns=['garages'])

                                                 0                       \
garages                                          0                    1
tipodepropiedad
Apartamento                                  5,384               24,034
Bodega comercial                               659                   79
Casa                                         9,439               30,943
Casa en condominio                             455                3,219
Casa uso de suelo                              128                  108
Departamento Compartido                         20                   53
Duplex                                          29                  228
Edificio                                       568                   85
Garage                                           1                  nan
Hospedaje                                        1                  nan
Huerta                                          15                  nan
Inmuebles productivos urbanos                  111                   13
Local Comercial                              1,283                  204
Local en centro comercial                       93                   13
Lote                                             1                  nan
Nave industrial                                 35                    3
Oficina comercial                              500                  328
Otros                                            4                   16
Quinta Vacacional                               88                   10
Rancho                                          53                    8
Terreno                                      7,364                   55
Terreno comercial                              676                    8
Terreno industrial                               3                  nan
Villa                                           14                   53


garages                                          2                    3
tipodepropiedad
Apartamento                                 20,999                3,188
Bodega comercial                                81                   62
Casa                                        62,182               15,192
Casa en condominio                           9,732                2,654
Casa uso de suelo                              136                   96
Departamento Compartido                         53                   11
Duplex                                          68                   11
Edificio                                       112                  108
Garage                                         nan                  nan
Hospedaje                                      nan                  nan
Huerta                                         nan                  nan
Inmuebles productivos urbanos                   19                    7
Local Comercial                                245                  102
Local en centro comercial                        9                    5
Lote                                           nan                  nan
Nave industrial                                  9                    9
Oficina comercial                              258                  116
Otros                                           25                    7
Quinta Vacacional                               31                   27
Rancho                                           7                    7
Terreno                                         80                   43
Terreno comercial                               17                   12
Terreno industrial                               1                    1
Villa                                           96                   18

Basado en informacion del TP1 completo con 0 aquellas propiedades que muestren una tendencia a este valor y elimino el resto

In [176]:
features[features.tipodepropiedad.isin(aCompletar)].garages.isna().value_counts()

False    945
Name: garages, dtype: int64

In [177]:
aCompletar = ['Edificio','Bodega comercial','Terreno comercial','Local comercial','Terreno','Rancho','Inmuebles productivos urbanos','Nave industrial','Local en centro comercial']
features.loc[(features.tipodepropiedad.isin(aCompletar)), 'garages'] = features.loc[(features.tipodepropiedad.isin(aCompletar)), 'garages'].fillna(0)
len(features)

209165

In [178]:
features.loc[(features['tipodepropiedad']=='Casa'),:].garages.isna().value_counts()

False    110904
True      21132
Name: garages, dtype: int64

In [179]:
features.loc[(features['tipodepropiedad']=='Casa en condominio'),:].garages.isna().value_counts()

False    15476
True      2941
Name: garages, dtype: int64

In [180]:
features.loc[(features['tipodepropiedad']=='Villa'),:].garages.isna().value_counts()

False    172
True     113
Name: garages, dtype: int64

Completo estas tres propiedades con valor 2 que tiene mayor cantidad de publicaciones

In [181]:
aCompletar2 = ['Casa', 'Casa en condominio', 'Villa']
features.loc[(features.tipodepropiedad.isin(aCompletar2)), 'garages'] = features.loc[(features.tipodepropiedad.isin(aCompletar2)), 'garages'].fillna(2)
len(features)

209165

In [182]:
features.garages.isna().value_counts()

False    205229
True       3936
Name: garages, dtype: int64

In [184]:
features = features.dropna(subset=['garages'])
len(features)

205229

# Features a CSV

In [186]:
features.to_csv('/data/features.csv')