In [70]:
import pandas as pd
import numpy as np
import scipy
import sklearn 
import datetime as dt
import xgboost as XGB
from sklearn.neighbors import KNeighborsClassifier

from sklearn import metrics
from sklearn.model_selection import train_test_split

# pd.options.display.float_format = '{:20,.0f}'.format # suprimimos la notacion cientifica en los outputs

In [71]:
path = 'data/'
features = pd.read_csv(path + 'features.csv')
test = pd.read_csv(path + 'testModified.csv')

# KNN

In [72]:
features.dtypes

id                              int64
titulo                         object
descripcion                    object
tipodepropiedad                object
direccion                      object
ciudad                         object
provincia                      object
antiguedad                    float64
habitaciones                    int64
garages                         int64
banos                           int64
metroscubiertos               float64
metrostotales                 float64
idzona                        float64
lat                           float64
lng                           float64
fecha                          object
gimnasio                        int64
usosmultiples                   int64
piscina                         int64
escuelascercanas                int64
centroscomercialescercanos      int64
precio                        float64
dtype: object

In [73]:
cols_dropped = ['lat', 'lng', 'fecha', 'id', 'idzona']
cols_string = ['titulo', 'descripcion','tipodepropiedad','direccion', 'ciudad', 'provincia']
features_toUse = features.drop(cols_dropped + cols_string, axis=1)

In [74]:
len(features_toUse)

205229

In [75]:
features_toUse.count()

antiguedad                    205229
habitaciones                  205229
garages                       205229
banos                         205229
metroscubiertos               205229
metrostotales                 205229
gimnasio                      205229
usosmultiples                 205229
piscina                       205229
escuelascercanas              205229
centroscomercialescercanos    205229
precio                        205229
dtype: int64

In [76]:
x = features_toUse.drop('precio',1)
y = features_toUse['precio']
# values = []
# for i in range(101, 200):
tst_sz = 0.04 # Mejor valor
seed = 139 # Obtenido con ciclo for
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=tst_sz,random_state=seed)
knn = KNeighborsClassifier(n_neighbors=103,algorithm = 'kd_tree')
knn.fit(x_train, y_train)
predknn = knn.predict(x_test)
metrics.mean_absolute_error(y_test, predknn)
#     values.append(metrics.mean_absolute_error(y_test,predknn))
#     print(i)

1004656.5705237516

In [77]:
len(test)

60000

In [78]:
test.count()

id                            60000
titulo                        58622
descripcion                   59599
tipodepropiedad               59993
direccion                     46809
ciudad                        59917
provincia                     59958
antiguedad                    60000
habitaciones                  60000
garages                       60000
banos                         60000
metroscubiertos               60000
metrostotales                 60000
idzona                        52821
lat                           29305
lng                           29305
fecha                         60000
gimnasio                      60000
usosmultiples                 60000
piscina                       60000
escuelascercanas              60000
centroscomercialescercanos    60000
dtype: int64

In [79]:
knn_predict = knn.predict(test.drop(cols_dropped + cols_string, axis=1))

In [94]:
res = pd.DataFrame(knn_predict, index=test.id, columns=['precio'])

In [95]:
res = res.rename({'precio':'target'}, axis=1)

In [96]:
res

                     target
id
4941              4,500,000
51775               390,000
115253              750,000
299321            2,550,000
173570            1,300,000
...                     ...
75094             5,500,000
171847              550,000
138313              650,000
271268            1,450,000
72612             2,200,000

[60000 rows x 1 columns]

In [97]:
res.to_csv("predictions/knn_prediction.csv", header = True)

In [98]:
len(res)

60000